@media screen and (max-width: 770px) {
    .nav-item:hover {
        transform: scale(1.06);
        transition-duration: 0.6s;
    }
}

@media screen and (min-width: 771px) {
    .nav-item:hover {
        transform: scale(1.5);
        transition-duration: 0.6s;
    }
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
nav {
    height: 13vh;
}
.navbar {
    width: 100vw;
    margin-top: 0px;
}
.navbar-dark {
    background-color: #000000;
}
.navbar-collapse {
    background-color: #000000;
}
.nav-item {
    margin-left: 4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 250;
}

footer {
    padding-top: 10px;
    margin-top: 5vh;
    background-color: rgb(17, 13, 29);
    color: white;
    text-align: center;
    height: 100px;
}

.row-content {
    margin-top: 14vh;
}

.row-header {
    margin-top: 3vh;
}

.ContactHeader {
    margin-top: 10vh;
    background-image: url("./img/42_1_contact-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 95vh;
}

.pageTitle {
    margin-top: 32vh;
    text-align: center;
    font-size: 5rem;
    color: aliceblue;
    text-shadow: 4px 4px 6px black;
}

.gap {
    height: 6vh;
}

hr {
    border: 3px solid black;
    background-color: black;
    border-radius: 50%;
}

.eventsHeader {
    margin-top: 10vh;
    background-image: url("./img/https___specials-images.forbesimg.com_imageserve_5e4c0c1999d44900073534e8_0x0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.eventsPara p {
    font-size: 18px;
    font-weight: 350;
}
.eventtext {
    margin-top: 3vh;
}

.eventtext h1 {
    margin-left: 2vw;
    margin-top: 3vh;
}

.eventtext p {
    margin-left: 2vw;
    font-size: 18px;
    font-weight: 350;
}
.event {
    margin-top: 6vh;
}
.event img {
    width: 100%;
    max-height: 95%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 5px 0 20px 0 rgba(0, 0, 0, 0.5);
}

.customTeam {
    text-align: center;
}
