body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
nav {
    height: 10vh;
}
.navbar {
    width: 100vw;
    margin-top: 0px;
}
.navbar-light {
    background-color: #000000;
}

.nav-item {
    margin-left: 4vw;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 250;
}

.nav-item:hover {
    transform: scale(1.5);
    transition-duration: 0.6s;
}

footer {
    padding-top: 10px;
    margin-top: 5vh;
    background-color: rgb(17, 13, 29);
    color: white;
    text-align: center;
    height: 100px;
}

.row-content {
    margin-top: 11vh;
}

.row-header {
    margin-top: 3vh;
}

.ContactHeader {
    margin-top: 10vh;
    background-image: url("./img/42_1_contact-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 95vh;
}

.pageTitle {
    margin-top: 32vh;
    text-align: center;
    font-size: 5rem;
    color: aliceblue;
    text-shadow: 4px 4px 6px black;
}

.gap {
    height: 4vh;
}
